{% extends 'delight/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{{ category.name }}{% endblock title %}
</head>
<body>
    {% block content %}
        <section style="background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url({{ category.image.url }});" class="top-container">
            <div class="top-container-info">
                <h5>{{ category.name }}.</h5>
                <h1>Store Gallery</h1>
                <p>Check out our latest {{ category.name }}<br>at accessible prices.</p>
            </div>
        </section>

        <section class="product-items">
            {% for product in products %}
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="{{ product.image1.url }}" alt="" onclick="window.location.href='{% url 'delight:product' product.id %}';">
                        </div>

                        <div class="product-info">
                            <div class="product-info-top" onclick="window.location.href='{% url 'delight:product' product.id %}';">
                                <h5>{{ product.category }}</h5>
                            </div>

                            <div class="product-info-bottom" onclick="window.location.href='{% url 'delight:product' product.id %}';">
                                <h2 class="name">{{ product.name }}</h2>
                                <h2 class="price">{{ product.price }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </section>
    {% endblock content %}
    
</body>
</html>